@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body {
    overflow: hidden;
    background-image: url('splash.png');
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.logo:hover{
    color: pink;
}
b {
    font-size: 70px;
    color: #3d535f;
}
.navItems {
    display: flex;
}
.navItems li {
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 20px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a {
    color: pink;
}
.links {
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-image: url('splash.png');
}
.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
.header {
    height: 80px;
    color: #3d535f;
}
.header:hover {
    color: pink;
}
.footer {
    height: 80px;
}
.main {
    text-align: left;
    background-image: url('splash.png');
    height: 600px;
    font-size: 22px;
    text-align: center;
    border-style: solid;
    margin-top: 10px;
    color: #3d535f;
}
.Prelims:hover {
    color: pink;
}
.Assignments {
   display: flex;
   flex-direction: row;
   font-size: 20px;
   justify-content: center;
}
.Quizz {
    display: flex;
   flex-direction: row;
   font-size: 20px;
   justify-content: center;
}
.midterm {
    margin-top: 50px;
    height: 700px;
    font-size: 22px;
    text-align: center;
}
.Midterm:hover {
    color: pink;
}
.Finals:hover {
    color: pink;
}
.aside1 {
    color: #3d535f;
    font-size: 20px;
}
.aside1:hover {
    color: green;
}
.aside2 {
    color: #3d535f;
    font-size: 20px;
}
.aside2:hover {
    color: green;
}
@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }
    .aside1 {
        order: 1;
    }
    .aside2 {
        order: 2;
    }
    .main{
        order: 2
        ;
    }
    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}